<%= form_with(model: [current_user, project], class: 'row g-3') do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-9">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field col form-check">
      <%= form.label :sort, class: 'form-label' %>
      <%= form.text_field :sort, type: :number, class: 'form-control' %>
    </div>

    <div class=" col form-check">
      <%= form.label :is_side, class: 'form-check-label' %>
      <%= form.check_box :is_side, class: 'form-check-input' %>
    </div>
  </div>
  <div class="field col-12">
    <%= form.label :description, class: 'form-label' %>
    <%= form.rich_text_area :description, class: 'form-control'  %>
  </div>

  <div class="actions col-12">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
