.row.experience-row
  .col-md-1
    .hero-avatar
      = avatar_for experience, size: 60
  .col
    %h5
      = experience.title
    .company
    - if experience.company_link.present?
      = link_to experience.company, experience.company_link, target: '_blank', class: 'no-underline'
    - else
      = experience.company
    %span
      |
      =experience_range(experience)
  = render :partial => 'shared/edit_delete_options', locals: {edit_link: edit_experience_link(experience), delete_link: destroy_experience_link(experience)}

  .row
    %div
      = experience.description

