= form_for [current_user, @experience] do |f|
  - if @experience.errors.any?
    #error_explanation
      %h2= "#{pluralize(@experience.errors.count, "error")} prohibited this experience from being saved:"
      %ul
        - @experience.errors.full_messages.each do |message|
          %li= message

  .row
    .col
      = f.label :title
      = f.text_field :title, class: 'form-control'

    .col
      .hero-avatar
        %label.change-avatar#change-avatar{style: "background-image: url('#{ @experience.avatar.url}')"}
          = f.file_field :avatar
          = fa_icon('camera')

  .row
    .col
      = f.label :company
      = f.text_field :company, class: 'form-control'
    .col
      = f.label :location
      = f.text_field :location, class: 'form-control'

  .field
    = f.label :company_link
    = f.text_field :company_link, class: 'form-control', placeholder: 'Company URL'
  .field
    = f.label :company_heading
    = f.text_field :company_heading, class: 'form-control', placeholder: 'Company Description'
  .field
    = f.label :description
    = f.rich_text_area :description, class: 'form-control'
  .row
    .col
      = f.label :start_date
      = f.date_field :start_date, class: 'form-control'
    .col
      = f.label :end_date
      = f.date_field :end_date, class: 'form-control'
  .field
    .form-check
      = f.label :working_here, class: 'form-check-label'
      = f.check_box :working_here, class: 'form-check-input'
  .actions
    = f.submit 'Save', class: 'button '
