%h1 Listing companies

%table
  %thead
    %tr
      %th Name
      %th Logo
      %th Hq
      %th Address
      %th Linkedin
      %th Indeed
      %th Url
      %th
      %th
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.logo
        %td= company.hq
        %td= company.address
        %td= company.linkedin
        %td= company.indeed
        %td= company.url
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
