= form_for post, html: { multipart: true, class: "editor-form"  , data: { page: 'main-editor' }, autocomplete: "off" } do |f|
  %label.picture_upload
    = f.file_field :picture, class: 'form-control'
    %i.fa.fa-camera
  .file-upload-previewer.hidden
    %img#image_preview{:src => ""}/
  - if post.picture?
    #existing-img-previewer.existing-img-previewer
      = image_tag post.picture.url(:thumb)
  .input-group
    = f.label :title, class: ' form-label'
    = f.text_field :title, class: 'editor-title form-control' , placeholder: 'Title', autofocus: true, data: { behavior: "autosave" }, onfocus: "this.value = this.value;"
  .input-group
    = f.label :content, class: ' form-label'
    = f.rich_text_area :body, class: 'medium-editable form-control'
    -#, data: { highlights_code_blocks: true }
    -#, class: 'medium-editable form-control', data: { behavior: "autosave" }
  .input-group
    = f.label :tags, class: 'form-label'
    = f.text_field :all_tags, class: 'form-control'
  .input-group
    =f.submit class: "btn btn-primary"
