.post-panel.col-md-5.m-lg-3
  - if user_signed_in?
    = render partial: 'posts/feed_metadata', locals: { post: PostDecorator.new(post, current_user) }
  - if post.picture?
    .post-picture-wrapper.hover-overlay.hover-zoom{'data-mdb-ripple-color': :light}
      = link_to image_tag(post.picture.url(:thumb), class: 'img-fluid'), post
      -#.mask{style: "background-color: rgba(251, 251, 251, 0.15);"}

  .main-body
    %h5.post-title
      = link_to post.title, post
    - if post.lead
      .post-body
        %span
        = post_body(post, params)
      = link_to "Read more", post, class: 'read-more'
  .post-stats.clearfix
    .pull-left
    .pull-right
    .response-count.pull-right
      - if post.responses_count > 0
        = link_to (pluralize(post.responses_count, "response")), post_path(post, anchor: 'responses'), class: 'response-count'
