.post-panel.col-md-5
  - if user_signed_in?
    = render partial: 'posts/feed_metadata', locals: { post: PostDecorator.new(post, current_user) }
  - if post.picture?
    .post-picture-wrapper
      = link_to image_tag(post.picture.url(:thumb)), post
  .main-body
    %h3.post-title
      = link_to post.title, post
    - if post.lead
      .post-body
        %span
        = post_body(post, params)
      = link_to "Read more", post, class: 'read-more'
  .post-stats.clearfix
    .pull-left
    .pull-right
    .response-count.pull-right
      - if post.responses_count > 0
        = link_to (pluralize(post.responses_count, "response")), post_path(post, anchor: 'responses'), class: 'response-count'
