%ul.social-share-area
  %li
    %a.ico.fb{:onclick => "javascript:window.open('http://www.facebook.com/sharer.php?u=#{post_url(post)}', '_blank', 'width=800, height=500, top=200, left=300');void(0)"}
      %i.fab.fa-facebook
  %li
    %a.ico.tw{:onclick => "javascript:window.open('http://twitter.com/share?text=#{post.title} by #{post.username} - =#{post_url(post)}', '_blank', 'width=800, height=500, top=200, left=300');void(0)"}
      %i.fab.fa-twitter
  %li
    %a.ico.gp{:onclick => "javascript:window.open('https://www.linkedin.com/shareArticle?url=#{post_url(post)}=#{post.title}', '_blank', 'width=800, height=500, top=200, left=300');void(0)"}
      %i.fab.fa-linkedin