.container
  .row{"data-animation" => "fadeInUp-fadeOutDown"}
    #main-post.col-xs-10.col-md-9.col-md-offset-2.col-xs-offset-1.main-content
      - if admin_signed_in?
        = feature_post_button_for(@post)
      -#.pull-right
      -#  = render partial: 'posts/social_share', locals: { post: @post }
      -# = render 'post_metadata', post: @post

      %article
        %header.mb-4
          %h3.title= @post.title
        - if @post.picture?
          %figure
            .post-picture-wrapper.mb-4
              = image_tag @post.picture.url
        .body
          %p= @post.body

        .blog-details-tag-and-share-area
          .post-tag
            =render partial: 'posts/tag_list', locals: {tags: @post.tags}

          = render partial: 'posts/social_share2', locals: { post: @post }


        - if user_signed_in? && current_user?(@post.user)
          .edit-delete-button-wrapper
            = link_to "Edit", edit_post_path(@post), class: 'button'
            = link_to "Delete", post_path(@post), method: :delete, class: 'button', data: { confirm: 'Are you sure?' }
    -#.post-show-footer.row{"data-animation" => "fadeInUp-fadeOutDown"}
      -# - if @related_posts.any?
      -#   .related-post-area.section-space--pt_60
      -#     .row
      -#       .col-lg-8.col-7
      -#         .section-title.mb-30
      -#           %h3.title Related Post
      -#     .row.swiper-container.related-post-slider-active.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events
      -#       - @related_posts.each do |post|
      -#         = render :partial => 'related_post_with_image', locals: { post: post }



        .row
          .col-xs-10.col-md-6.col-xs-offset-1.col-md-offset-3.main-content.related-stories
            %h4.small-heading Related stories
            - @related_posts.each do |post|
              = render partial: 'posts/post_list_item', locals: { post: post }

    .col-md-3
      = render partial: 'shared/stay_in_touch'

