%li.nav-item.dropdown
  %a#navbarDropdown.avatar-wrapsper.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :role => "button"}
    = avatar_for(current_user, size: 40)
  / 
  %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    %span.dropdown-arrow-top
    %span.dropdown-arrow-bottom
    / <li><hr class="dropdown-divider"></li>
    %li= link_to "Profile", current_user, class: 'dropdown-item'
    %li= link_to "My Posts", posts_user_path(current_user), class: "dropdown-item"
    %li= link_to "Admin", admin_index_path, class: 'dropdown-item'
    %li= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item'
