<!DOCTYPE html>
<html ng-app="Stories">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'stories-icon-apple-touch-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= display_meta_tags  %>
<!--  site: 'My website'-->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js'></script>
  <%= render 'shared/google_analytics' %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>" data-prismjs-copy-timeout="500">
<!--<pre><code class="language-js" data-prismjs-copy="Copy the JavaScript snippet!">console.log('Hello, world!');</code></pre>-->

<%= render 'layouts/overlay' unless user_signed_in? %>
<%= react_component('UserOverlay', {}) %>

<div data-behavior="progress-bar" class="progress-bar"></div>

<%# if admin_signed_in? %>
  <%#= render 'layouts/admin_header' %>
<%# else %>
  <%#= render 'layouts/header' %>
<%# end %>

<%= render 'layouts/header' %>


<%= render 'layouts/alert_messages' %>

<div class="container-fluid container">
  <div class="row">

<!--    <div class="col">-->
      <%= yield %>
<!--    </div>-->


<!--    <div class="col">-->
      <%= yield :sidebar %>
<!--    </div>-->
  </div>

</div>

</body>
<script type="text/javascript">
    window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>