!!!
%html{"ng-app" => "Stories"}
  = render 'layouts/html_header'
  %body{:class => "#{controller.controller_name} #{controller.action_name}", "data-prismjs-copy-timeout" => "500"}
    = render 'layouts/overlay' unless user_signed_in?
    = react_component('UserOverlay', {})
    .progress-bar{"data-behavior" => "progress-bar"}
    = render 'layouts/nav_bar'

    #main-wrapper
      = render 'layouts/alert_messages'
      = yield :hero
      = yield
      = yield :sidebar
      = render 'layouts/footer'
  :javascript
    window.userSignedIn = #{user_signed_in?};